@*@if (isOpen)
{*@
    <div class="popup-overlay" @onclick="closePopUp">
        <div class="flex-column popup-body" style="width: 75%;" @onclick:preventDefault="true">
            <div class="popup-header">@title</div>
            <div class="popup-content">
                @ChildContent
            </div>
        </div>
    </div>
@*}*@

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    //[Parameter]
    //public bool isOpen { get; set; }

    [Parameter]
    public Action closePopUp { get; set; }

    [Parameter]
    public string title { get; set; }
}
