@inherits LayoutComponentBase

<PageTitle>ProductManager.UI</PageTitle>

<Radzen.Blazor.RadzenNotification />

<div class="page">
    <main class="flex-column w-100 h-100 justify-content-between">
            <div class="navbar flex-row space-between align-center">
                <span class="logo" style="font-size: 18px; font-weight: bold;">ProductManager</span>
            </div>

        <div class="px-5 pt-3">
            @Body
        </div>
    </main>
</div>
